.home-page-container {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    color: #fff;

    & .center-text {
        padding: 15em 0 0.7em 0;
        text-align: center;
    }

    & > p {
        text-align: center;
        margin: 0 auto;
        font-size: 0.8em;
        padding-bottom: 1em;
    }
}
