@import "../../app.style.scss";

form {
    @include displayFlex(column, center);

    & input[type="email"],
    & input[type="submit"] {
        width: 95%;
        margin: 0 auto;
        padding: 10px;
        border-radius: 0;
        border: 0;
    }

    & input[type="submit"] {
        width: 150px;
        background-color: #f40612;
        margin-top: 0.8em;
        border-radius: 5px;
        color: #fff;
    }
}
