.movies-bg {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 50vh;
    color: #fff;
}

.search-and-movies-loader-container {
    @media (min-width: 1400px) {
        width: 70%;
        margin: 0 auto;
    }
}
