/*********************************
 General styling
**********************************/
*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

img {
    display: block;
    object-fit: contain;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

button {
    cursor: pointer;
}

/*********************************
 Layout styling
**********************************/
.container {
    width: 100%;
    margin: 0 auto;
    padding: 1em 2em;
}

[href="#main"] {
    background-color: #fff7ed;
    border: solid 1px #000;
    border-radius: 3px;
    color: #000;
    font-size: 0.9em;
    padding: 5px;
    position: absolute;
    z-index: 2;
    left: -1000px;
}

[href="#main"]:focus {
    left: 0;
}

input[type="submit"] {
    cursor: pointer;
    transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}

input[type="submit"]:hover {
    transform: scale(1.1);
}

@mixin displayFlex($flex_direction, $justify_content) {
    display: flex;
    flex-direction: $flex_direction;
    justify-content: $justify_content;
}
